$background-color: hsla(238, 40%, 52%, 0.078);
$paragraph-size: 16px;
$time-range-color: hsla(220, 4%, 85%, 0.399);
$myMargin-auto: auto;
$primary-textcolor: hsl(238, 40%, 52%);
$individual_backgroundcolor : hwb(0 100% 0%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $background-color;
    padding: 20px;
    
}

p{
    font-size: $paragraph-size;
    font-family: 'Times New Roman', Times, serif;
}

.main_containter{
    width: 60%;
    margin-top: 2%;
    margin-left: $myMargin-auto;
    margin-right: $myMargin-auto;
}

.inner_control{
    display: flex;
    width: 30px;
    flex-direction: column;
    background-color: $background-color ;
    align-items: center;
    justify-content: space-evenly;
    align-self: flex-start;
    padding: 8px;
    row-gap: 7x;
    border-radius: 4px;


    button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    p{
        color: $primary-textcolor;
        font-weight: 700;
    }

}

.individual_comment{
    display: flex;
    column-gap: 15px;
    padding: 20px;
    background-color: $individual_backgroundcolor;
    border-radius: 8px;
}

.header{
    display: flex;
    column-gap: 8px;
    align-items: center;

    img{
        width: 30px;
        height: 30px;
    }

    .time_range{
        font-size: 11px;
        color: hsl(228, 5%, 78%);
    }

    .Name{
        font-weight: 600;
    }

}

.reply_comment{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-left: $myMargin-auto;

    img{
        width: 15px;
        height: 15px;
    }

    .reply_button{
        color: $primary-textcolor;
        font-weight: 700;
        font-size: 13px;

    }

    .reply_button:hover{
        cursor: pointer;
        opacity: 0.7;
    }
   
}

.details{
    display: flex;
    width: 100%;
   
}

.main_info{
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(128, 128, 128, 0.882);
}

.Comments,.out_container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: transparent;
}

.replies{
   
    margin-left: 20px;
    padding-left: 20px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color:rgba(128, 128, 128, 0.171) ;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    
}

.Replied_user{
    color: $primary-textcolor;
    font-weight: 700;
}

.same_feature{
    border: none;
    background-color: $individual_backgroundcolor;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    
    img{
        height: 10px;
        width: 10px;
    }

}

.current_user_DelButton{
    color: red;
}

.current_user_EditButton{
    color: $primary-textcolor;
}

.you_tag{
    p{
        padding: 0;
        margin: 0;
    }

    padding: 2px 4px;
    color: white;
    background-color: $primary-textcolor;
    font-size: 13px;
}

.current_reply_div{
    display: flex;
    background-color: $individual_backgroundcolor;
    column-gap: 8px;
    width: 100%;
    padding: 20px;
    .profile_pic{
        width: 40px;
        height: 40px;
        align-self: flex-start;
    }

   textarea{
        padding:15px;
        font-family: inherit;
        font-size: inherit;
        border-radius: 8px;
        width: 100%;
        resize: none;

       
   }


    .replyButton{
        align-self: flex-start;
        padding: 10px 25px;
        border: none;
        background-color: $primary-textcolor;
        color: $individual_backgroundcolor;
        border-radius: 6px;
        font-family: inherit;
        
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }

        &:active{
            opacity: 0.9;
        }
    }
}

.hidden{
    display: none;
}

.visibility{
    display: flex;
}

